<form>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td><input type="text" name="username" [(ngModel)]="username"></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="password" [(ngModel)]="password"></td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <select name="type" [(ngModel)]="type">
                    <option value="admin">Admin</option>
                    <option value="kupac">Kupac</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="signIn()">Uloguj se</button>
            </td>
        </tr>
    </table>
    <div *ngIf='errorMessage' class='greska'>
        {{errorMessage}}
    </div>
</form>